:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  height: 100vh;
  overflow: hidden;
  background-color: #112233;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.squeak-bubble {
  display: block;
  margin-top: 0;

	font-size: 16px;
	padding: 0.5rem 1rem;
	border-radius: 4rem;
  box-sizing: border-box;

}

.fadeout {
  transition: all 0.333s ease-out;
  animation: fade-out 0.333s 3s ease-in both;
  margin-top: -0.5em;

	background: #2f90f7;
	border: none;
	color: white;
}
